*{
	margin: 0;
	padding: 0;
	font-family: serif;
	font-size: 1rem;
}
.sosial{
	width: 10rem;
	position: absolute;
	left: calc(100% - 12rem);
	top: 2rem;
}
.sosial ul{
	width: 100%;
}
.sosial ul li{
	float: left;
	list-style: none;
	width: calc(100% / 3);
}
.sosial ul li a{
	color: black;
	text-decoration: none;
	font-size: 1.6rem;
	transition: .3s;
}
.sosial ul li a:hover{
	color: gray;
}

.profile{
	width: 100%;
}
.profile .img_out{
	width: 12rem;
	height: 12rem;
	margin: 1rem calc(50% - 5rem);
}
.profile img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.h1{
    font-family: 'Crimson Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 900;
}

.navbar1{
	display: flex;
	width: 90%;
	margin: 1rem auto;
	margin-top: 3rem;
	border-bottom: 3px solid skyblue;
}
.navbar1 ul{
	display: flex;
	padding: 0;
    width: 100%;
}
.navbar1 ul li{
	display: flex;
	list-style: none;
	width: calc(100% / 3);
}
.navbar1 ul li a{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 170%;
	color: black;
	width: 90%;
	margin: 0 auto;
	padding: .5rem 0;
	font-family: serif;
	text-align: center;
	border-top: 1px solid red;
	transition: .3s;
}
.navbar1 ul li a:hover{
	background: red;
	color: white;
}





.countries_ana{
		width: 96%;
		background: gray;
		margin: 2rem 2%;
		padding: 2%;
	}
	.countries_ana .countries{
		display: inline-block;
		width: 3rem;
		height: 2rem;
		margin: .3rem;
	}
	.countries_ana .countries img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.flags{
		width: 40%;
		height: 36rem;
		margin: 2%;
		margin-top: 2rem;
		position: relative;
		left: 0;
		top: 0;
		background: black;
	}
	.flags i{
		color: white;
		font-size: 2rem;
		z-index: 1000;
		position: absolute;
	}
	.ox1{
		left: 52%;
		top: 65%;
	}
	.ox2{
		transform: rotate(180deg);
		left: 52%;
		top: 33%;
	}
	.ox3{
		transform: rotate(90deg);
		left: 38%;
		top: 50%;
	}
	.ox4{
		transform: rotate(270deg);
		left: 68%;
		top: 50%;
	}

	.ox5{
		transform: rotate(45deg);
		left: 41.5%;
		top: 61%;
	}
	.ox6{
		transform: rotate(225deg);
		left: 63.5%;
		top: 39%;
	}
	.ox7{
		transform: rotate(135deg);
		left: 41%;
		top: 39%;
	}
	.ox8{
		transform: rotate(315deg);
		left: 63.5%;
		top: 61%;
	}
	.flags .center{
		position: absolute;
		top: 44%;
		left: 46%;
		width: 6rem;
        height: 6rem;
	}
	.flags .center img{
		width: 100%;
		height: 100%;
        box-shadow: 0 0 50px white;
		border-radius: 50%;
	}
	.flags .center span{
		display: inline-block;
		text-align: center;
		position: absolute;
		top: 1.3rem;
		right: 1.7rem;
		background: white;
		opacity: .8;
		width: 2.5rem;
		height: 2.5rem;
		padding-top: .4rem;
		border-radius: 50%;
		font-size: 120%;
		font-weight: 900;
	}
	.flags .other{
		width: 3.7rem;
		height: 3.7rem;
		position: absolute;
	}

	.flags .other img{
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
	.flags .other span{
		display: inline-block;
		text-align: center;
		position: absolute;
		font-size: 100%;
		font-weight: 900;
		top: -1.1rem;
		left: 3rem;
		background: white;
		opacity: .8;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
	}
	.flags .other1{
		top: 10%;
		left: 49%;
	}
	.flags .other2{
		top: 18%;
		left: 70%;
	}
	.flags .other3{
		top: 35%;
		left: 83%;
	}
	.flags .other4{
		top: 57%;
		left: 83%;
	}
	.flags .other5{
		top: 77%;
		left: 72%;
	}
	.flags .other6{
		top: 85%;
		left: 49%;
	}
	.flags .other7{
		top: 77%;
		left: 27%;
	}
	.flags .other8{
		top: 57%;
		left: 13%;
	}
	.flags .other9{
		top: 35%;
		left: 13%;
	}
	.flags .other10{
		top: 18%;
		left: 27%;
	}


	.countries_ana{
		width: 96%;
		background: gray;
		margin: 2rem 2%;
		padding: 2%;
	}
	.countries_ana .countries{
		display: inline-block;
		width: 3rem;
		height: 2rem;
		margin: .3rem;
	}
	.countries_ana .countries img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	
	.puanlar{
		margin: .2rem;
		padding: 1.5rem 0;
		background: gray;
	}
	.puanlar img{
		width: calc(100% / 10 - 0.7rem);
       height: 85px;
       margin: .2%;
	}
	.puanlar span{
		color: white;
		margin: .3rem;
	}



@media(max-width: 1400px){
	.puanlar img{
		height: 65px;
	}
}



@media(max-width: 1000px){
	.puanlar img{
		height: 47px;
		width: calc(100% / 10 - 0.5rem);
	}
}



@media(max-width: 650px){
	.sosial{
		top: 12rem;
		left: calc(50% - 4.5rem);
	}
	.h1{
		margin-top: 3rem;
	}
	.puanlar img{
		height: 35px;
	}
}






@media (max-width: 560px){
	body{
		border: none;
	}
	
	.countries_ana{
		width: 96%;
		background: gray;
		margin: 2rem 2%;
		padding: 2%;
	}
	.countries_ana .countries{
		display: inline-block;
		width: 3rem;
		height: 2rem;
		margin: .3rem;
	}
	.countries_ana .countries img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.flags{
		width: 96%;
		height: 30rem;
		margin: 2%;
		margin-top: 2rem;
		position: relative;
		left: 0;
		top: 0;
		background: black;
	}
	.flags i{
		color: white;
		font-size: 2rem;
		z-index: 1000;
		position: absolute;
	}
	.ox1{
		left: 52%;
		top: 65%;
	}
	.ox2{
		transform: rotate(180deg);
		left: 52%;
		top: 33%;
	}
	.ox3{
		transform: rotate(90deg);
		left: 38%;
		top: 50%;
	}
	.ox4{
		transform: rotate(270deg);
		left: 68%;
		top: 50%;
	}

	.ox5{
		transform: rotate(45deg);
		left: 41.5%;
		top: 61%;
	}
	.ox6{
		transform: rotate(225deg);
		left: 63.5%;
		top: 39%;
	}
	.ox7{
		transform: rotate(135deg);
		left: 41%;
		top: 39%;
	}
	.ox8{
		transform: rotate(315deg);
		left: 63.5%;
		top: 61%;
	}
	.flags .center{
		position: absolute;
		top: 42%;
		left: 45%;
		width: 6rem;
        height: 6rem;
	}
	.flags .center img{
		width: 100%;
		height: 100%;
        box-shadow: 0 0 50px white;
		border-radius: 50%;
	}
	.flags .center span{
		display: inline-block;
		text-align: center;
		position: absolute;
		top: 1.3rem;
		right: 1.7rem;
		background: white;
		opacity: .8;
		width: 2.5rem;
		height: 2.5rem;
		padding-top: .4rem;
		border-radius: 50%;
		font-size: 120%;
		font-weight: 900;
	}
	.flags .other{
		width: 3.7rem;
		height: 3.7rem;
		position: absolute;
	}

	.flags .other img{
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
	.flags .other span{
		display: inline-block;
		text-align: center;
		position: absolute;
		font-size: 100%;
		font-weight: 900;
		top: -1.1rem;
		left: 3rem;
		background: white;
		opacity: .8;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
	}
	.flags .other1{
		top: 10%;
		left: 49%;
	}
	.flags .other2{
		top: 18%;
		left: 70%;
	}
	.flags .other3{
		top: 35%;
		left: 83%;
	}
	.flags .other4{
		top: 57%;
		left: 83%;
	}
	.flags .other5{
		top: 77%;
		left: 72%;
	}
	.flags .other6{
		top: 85%;
		left: 49%;
	}
	.flags .other7{
		top: 77%;
		left: 27%;
	}
	.flags .other8{
		top: 57%;
		left: 13%;
	}
	.flags .other9{
		top: 35%;
		left: 13%;
	}
	.flags .other10{
		top: 18%;
		left: 27%;
	}
	.puanlar{
		margin: .2rem;
		padding: 1.5rem 0;
		background: gray;
	}
	.puanlar img{
       width: 8.8%;
       height: 20px;
       margin: .2%;
	}
	.puanlar span{
		color: white;
		margin: .3rem;
	}
}

@media (max-width: 500px){
    #div2 ul li a{
	    padding: .5rem 1rem;
	    margin: .2rem .5rem;
    }
}

@media (max-width: 450px){
	#div2 ul li a{
	    padding: .2rem .7rem;
	    margin: .2rem .5rem;
    }
    h1{
    	font-size: 1.2rem;
    }
    .flags .center{
    	top: 43%;
    }
	.ox3{
		transform: rotate(90deg);
		left: 36%;
		top: 50%;
	}
	.ox4{
		transform: rotate(270deg);
		left: 70%;
		top: 50%;
	}
	.ox7{
		transform: rotate(135deg);
		left: 42%;
		top: 39%;
	}
    .flags .center span{
    	right: 1.4rem;
    }
}

@media (max-width: 400px){
	#div2 ul li a{
	    padding: .2rem .5rem;
	    margin: .2rem .4rem;
    }
    .flags{
    	height: 27rem;
    }
    .flags .center{
    	top: 44%;
    }
    .flags .center{
    	width: 5rem;
    	height: 5rem;
    }
    .flags .other{
    	width: 3rem;
    	height: 3rem;
    }
	.flags .other1{
		left: 44%;
	}
	.flags .other2{
		left: 65%;
	}
	.flags .other3{
		left: 78%;
	}
	.flags .other4{
		left: 78%;
	}
	.flags .other5{
		left: 67%;
	}
	.flags .other6{
		left: 44%;
	}
	.flags .other7{
		left: 22%;
	}
	.flags .other8{
		left: 8%;
	}
	.flags .other9{
		left: 8%;
	}
	.flags .other10{
		left: 22%;
	}
	.flags .other1{
		top: 12%;
	}
	.flags .other5{
		top: 75%;
	}
	.flags .other6{
		top: 81%;	}
	.flags .other7{
		top: 75%;
	}
}

@media (max-width: 380px){

    .flags .center span{
    	right: 1.25rem;
    }
	#div2 ul li a{
	    font-size: .7rem;
	    padding: .2rem .3rem;
	    margin: .2rem .3rem;
    }
}


@media (max-width: 330px){
	.puanlar img{
		width: calc(100% / 10 - 0.3rem);
	}
}
